<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title th:text="@{'Trabajador ' + ${trabajador.idTrabajador}}"></title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/app/index">Nesteja</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/app/index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/app/trabajo">Trabajos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/app/trabajador">Trabajadores</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="container-fluid bg-primary text-light p-4">
    <h1 th:text="@{'Información de ' + ${trabajador.nombre} + ' ' + ${trabajador.apellidos} + ' (ID: ' + ${trabajador.idTrabajador} +')'}"></h1>
</div>
<div class="container mt-4 mb-4">
    <h3 style="margin-top: 1em;">Datos del trabajador</h3>
    <hr>
    <div class="row">
        <div class="col-12 col-md-6 col-xl-3">
            <h4>Nombre completo:</h4>
            <p th:text="@{${trabajador.nombre} + ' ' + ${trabajador.apellidos}}"></p>
        </div>
        <div class="col-12 col-md-6 col-xl-3">
            <h4>Especialidad:</h4>
            <p th:text="${trabajador.especialidad}"></p>
        </div>
        <div class="col-12 col-md-6 col-xl-3">
            <h4>Correo:</h4>
            <p th:text="${trabajador.email}"></p>
        </div>
        <div class="col-12 col-md-6 col-xl-3">
            <h4>DNI:</h4>
            <p th:text="${trabajador.dni}"></p>
        </div>
    </div>

    <h3 style="margin-top: 1em;">Trabajos del trabajador</h3>
    <hr>
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-xxl-3 card" th:each="trabajo : ${trabajador.trabajos}">
            <div class="card-body">
                <h5 class="card-title" th:text="${trabajo.descripcion}"></h5>
                <h6 class="card-subtitle mb-2 text-muted" th:text="${trabajo.categoria}"></h6>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" th:text="@{'Fecha de inicio: ' + ${trabajo.fecIni}}"></li>
                    <li class="list-group-item" th:if="${trabajo.fecFin}" th:text="@{'Fecha de fin: ' + ${trabajo.fecFin}}"></li>
                    <li class="list-group-item" th:if="${trabajo.tiempo}" th:text="@{'Tiempo: ' + ${trabajo.tiempo} + ' horas'}"></li>
                    <li class="list-group-item" th:text="@{'Prioridad: ' + ${trabajo.prioridad}}"></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"></script>
</body>
</html>